<footer class="footer bg-dark py-2 mt-auto">
    <div class="container d-flex justify-content-center">
        <span class="text-muted ">LMS - Simplilearn Project | Created by Subhojeet Majumdar</span>
    </div>
    
    
</footer>